<%= form_with(model: @purchasing, local: true) do |form| %>
  <% if @purchasing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchasing.errors.count, "error") %> prohibited this purchasing from being saved:</h2>

      <ul>
      <% purchasing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Number of Tickets' %>
    <%= form.number_field :num_of_tickets %>
  </div>

  <div class="field">
    <%= form.label 'Movie:' %>
    <% if admin? && !params[:movie_id] %>
      <%= form.collection_select(:movie_id, @movies, :id, :movie_title) %>
    <% else %>
      <% movie = Movie.find(params[:movie_id]) %>
      <%= form.label movie.movie_title %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label 'Theater' %>
<!--    <!%= form.collection_select(:theater_id, @theaters.select('DISTINCT state'), :id, :state, {:include_blank => "Select State"}) %>
    <!%= form.collection_select(:theater_id, @theaters.where("id = ?", form.object.theater_id), :id, :zipcode, {:include_blank => "Select Zipcode"}) %> -->
    <%= select_tag "theater[]", options_for_select(@theaters.collect{|attr| [" #{attr.state},  #{attr.zipcode}, #{attr.theater_name}", attr.id]}), {:include_blank => "State, Zipcode, Theater name"} %>
  </div>

<% end %>
