<p id="notice"><%= notice %></p>

<% if admin? %>

  <h1>Purchasings</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Num of tickets</th>
        <th>Movie</th>
        <th>Theater</th>
        <th>User</th>
        <th>Credit card</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchasings.each do |purchasing| %>
        <tr>
          <td><%= purchasing.num_of_tickets %></td>
          <td><%= purchasing.movie %></td>
          <td><%= purchasing.theater %></td>
          <td><%= purchasing.user %></td>
          <td><%= purchasing.credit_card %></td>
          <td><%= link_to 'Show', purchasing %></td>
          <td><%= link_to 'Edit', edit_purchasing_path(purchasing) %></td>
          <td><%= link_to 'Destroy', purchasing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Back', admin_dashboard_path %> |
  <%= link_to 'New Purchasing', new_purchasing_path %>

<% end %>
