<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label 'Date of birth' %>
    <%= form.date_select(:dob, options = {:include_blank => true, :start_year => Date.today.year-100, :end_year => Date.today.year-10 }) %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(['Select','F', 'M']) %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'Confirm Password' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <!-- only admin can authorize admin privileges-->
  <% if admin? %>
    <div class="field">
      <%= form.label :admin, 'Authorize administrative privileges?' %>
      <%= form.check_box :admin %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
