<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!-- only for admin -->
<% if admin? %>
  <p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<!-- return to root_path is not admin, and users_path if admin -->
<% if admin? %>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
