<h1>Member Profile</h1>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Member Sincel:</strong>
  <%= @user.created_at %>
</p>

<!-- only for admin -->
<% if admin? %>
  <p>
    <strong>Admin:</strong>
    <%= @user.admin %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<!-- return to root_path is not admin, and users_path if admin -->
<% if admin? %>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
<br><br>
<h3>Purchasings</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Number of tickets</th>
      <th>Total in $</th>
      <th>Movie</th>
      <th>Theater Name</th>
      <th>Theater Zipcode</th>
      <th>Theater City</th>
      <th>Theater State</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_purchasings.each do |purchasing| %>
      <tr>
        <td><%= purchasing.num_of_tickets %></td>
        <td><%= purchasing.total %></td>
        <td><%= purchasing.movie.movie_title %></td>
        <td><%= purchasing.theater.theater_name %></td>
        <td><%= purchasing.theater.zipcode %></td>
        <td><%= purchasing.theater.city%></td>
        <td><%= purchasing.theater.state %></td>
        <td><%= purchasing.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
