<nav class="navbar navbar-expand-sm fixed-top nav-dark bg-dark" role="navigation">
  <a style='color:white; text-decoration:none;'<%= link_to('Home', root_path, :class=>"navbar-header") %>

  <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
         Movies
        </a>
        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
         <a class="dropdown-item"><%= link_to "All" %></a>
         <a class="dropdown-item"><%= link_to "2015" %></a>
         <a class="dropdown-item"><%= link_to "2014" %></a>
        </div>
      </li>
      <li class="nav-item" style="margin-top:8px;">
        <a><%= link_to 'Crews' %></a>
      </li>
      <li class="nav-item" style="margin-top:8px;">
        <a><%= link_to "Find a Theater" %> </a>
      </li>
      <li class="nav-item" style="margin-top:8px;">
        <a><%= link_to "Search" %> </a>
      </li>
    </ul>
  </div>
</nav>
